# dependencies
node_modules/

# next.js
.next/
out/

# production
build/
dist/

# env
.env
.env*.local

# logs
*.log
dev.err
dev.log
dev3100.err
dev3100.log
backend/backend.err
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# java
target/

# ide / os
.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db
